.imgClass {
  height: 50%;
  width: 40%;
}
.decoreClass {
  height: 1%;
  width: 25%;
  margin-left: 10%;
  margin-top: 5%;
}
.lummieClass {
  height: 100%;
  margin-top: -10%;
  margin-left: 20%;
  width: 120%;
}
.paperClass {
  background-color: #e6ffb3 !important;
}
.typoClass {
  text-align: center;
}
.imageGridClass {
  margin-left: 10%;
}
.divClass {
  background-color: lightBlue;
  margin-bottom: 20%;
}
